body {
  background-color: #1F2430;
}

#hnmain {
  background-color: #232834;
}

a:link.storylink,
#hnmain>tbody>tr:first-child>td a,
.commtext,
.commtext a:link,
td,
b {
  color: #fafafa;
}

.comment>.commtext {
  color: #fafafa;
}

td.title {
  color: #fafafa;
}

#hnmain>tbody>tr:first-child>td {
  background-color: #333a4a;
}

a:link,
.sitebit,
.subtext,
.sitestr,
.subtext a:link,
.rank,
a.morelink,
.pagetop,
.yclinks a,
.yclinks>a:link,
.comhead a:link,
.comhead,
.hnmore a:link,
.reply a:link,
{
  color: #8c96ac;
}

td .pagetop {
  color: #8c96ac;
}

td>a:link {
  color: #8c96ac;
}

.titleline>a:link {
  color: #8c96ac;
}

a>u {
  color: #8c96ac;
}

.comment .reply u>a {
  color: #8c96ac;
}

.titleline>a:visited {
  color: #979cf4;
}

.commtext>p>a:link {
  color: #fafafa;
}

.comment .commtext>a:link {
  color: #fafafa;
}

.comment .commtext>a:visited {
  color: #979cf4;
}

.commtext>p>a:visited {
  color: #979cf4;
}

.votearrow {
  overflow: visible;
  position: relative;
}

.yclinks>a,
.yclinks>a:link {
  color: #8c96ac;
}

.yclinks>a:visited {
  color: #979cf4;
}

.votearrow::before {
  content: "";
  width: 0;
  height: 0;
  left: 1px;
  top: 3px;
  display: block;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid #bebfd1;
}

input[type=text],
textarea {
  background-color: #333a4a;
  color: #fafafa;
  border: 1px solid #1F2430;
}

input[type=submit] {
  background-color: #333a4a;
  color: #fafafa;
  border: 1px solid #1F2430;
}

b {
  color: #fafafa;
}